<div class = 'jumbotron'>
	<h1>Welcome to eStuk</h1>
	<p>The Largest Online Digital Books Store </p>
	<a class="btn btn-primary btn-lg" href="#" role="button">Books</a>
	<a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
</div>